{% extends 'base.html' %}
{% block content %}
    </br>

<div class="container">
    <div class="d-flex justify-content-center">
        <form method="POST">
            <div class="d-flex justify-content-center">
                <h1>회원가입</h1>
            </div><br>
            {% csrf_token %}
            <div class="form-group">
{#                <label for="username">아이디</label>#}
                <input type="text" class="form-control" id="username" placeholder="아이디">
            </div><br>
            <div class="form-group">
{#                <label for="password1">비밀번호</label>#}
                <input type="password" class="form-control" id="password1" placeholder="비밀번호">
            </div><br>
            <div class="form-group">
{#                <label for="password2">비밀번호 확인</label>#}
                <input type="password" class="form-control" id="password2" placeholder="비밀번호 확인">
            </div><br>
            <div class="form-group">
{#                <label for="email">이메일</label>#}
                <input type="email" class="form-control" id="email" placeholder="이메일">
            </div>
{#            아이디: <br>#}
{#            <input name="username" type="text">#}
{#            <br>#}
{#            비밀번호: <br>#}
{#            <input name="password1" type="password">#}
{#            <br>#}
{#            비밀번호 확인: <br>#}
{#            <input name="password2" type="password">#}
{#            <br>#}
{#            이메일: <br>#}
{#            <input name="email" type="email">#}
{#            <br><br>#}
            <br>

            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-secondary btn-lg btn-block" value="회원가입">
            </div>
        </form>
    </div>
</div></br>
{% endblock %}
