{% extends 'base.html' %}

{% block content %}
        <!-- Header-->
<div class="container px-3 px-lg-3">
    <div class="main_left1">
        <img src="https://static.wixstatic.com/media/1a636a537d504dc2af0174f314f6655c.jpg/v1/fill/w_554,h_680,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1a636a537d504dc2af0174f314f6655c.jpg">
    </div>
    <div class="main_right1">
        <br><br><br><br><br><br><br>
        <h1 class="font_2" style="line-height:1.25em; text-align:center; font-size:72px;">
            <span style="letter-spacing:normal;">
                <span class="color_15">
                    <span style="font-weight:bold;"><span>
                        <span>welcome to <br> Cosmetheic 💄</span>
        <p class="font_7" style="line-height:1.67em; text-align:center; font-size:20px;">
            <span style="font-family:맑은 고딕,malgun gothic,apple sd gothic neo,applegothic,sans-serif;">
                <span style="font-weight:bold;">
                    <span style="letter-spacing:normal;">
                        <span class="color_15">​가상 메이크업 쇼핑몰</span></h1>
    </div>

    <div class="main_center1">
        <div data-mesh-id="comp-l8q3n24f2inlineContent-gridContainer" data-testid="mesh-container-content">
            <div id="comp-l8q3n24g" class="_2Hij5 _3bcaz" data-testid="richTextElement">
                <br><br><br><br>
                <h2 class="font_4" style="line-height:1.35em; text-align:center; font-size:40px;">
                    <span style="font-weight:bold;">다양한 가상의 메이크업으로
                        <br>자신만의 메이크업을 찾으세요!</span>
                </h2>
            </div>
            <div id="comp-l8q3n24g1" class="_2Hij5 _3bcaz" data-testid="richTextElement">
                <p class="font_8" style="line-height:1.75em; text-align:center; font-size:18px;">
                    <span style="font-family:futura-lt-w01-book,futura-lt-w05-book,sans-serif;">
                        다양하게 제공되는 레퍼런스 이미지를 통해 이제는 메이크업 도구 없이 가상의 화장을 체험해 보세요.</span>
                </p><br><br><br>
            </div>

            <div class="main_left1">
                <img src="https://static.wixstatic.com/media/e5fea9_46e05ab2518b44dd91683cf30d17b1c0~mv2.png/v1/fill/w_490,h_440,al_c,lg_1,q_85,enc_auto/e5fea9_46e05ab2518b44dd91683cf30d17b1c0~mv2.png"></wix-image>
            </div>
            <div class="main_right1">
                <br><br><br><br><br><br><br><br><br><br><br>
                <div class="offset-1">
                <h3 class="font_6" style="line-height:1.41em; text-align:left; font-size:22px;">
                    <span style="letter-spacing:normal;">
                        <span class="color_15">
                            <span style="font-weight:bold;">자신의 컬러에 맞게</span></span></span></h3>

                <p class="font_8" style="font-size:15px; line-height:1.75em; text-align:left;">
                    <span style="font-family:futura-lt-w01-book,futura-lt-w05-book,sans-serif;">
                        <span style="font-size:15px;">
                            <span style="letter-spacing:normal;">​지닌 컬러에 맞게 색조 화장을 원하는 대로 체험하여 <br> 자신의 컬러를 알 수 있습니다.</span></span></span></p>
<!--                <p class="font_8" style="font-size:15px; line-height:1.75em; text-align:left;">-->
<!--                    <span style="font-family:futura-lt-w01-book,futura-lt-w05-book,sans-serif;">-->
<!--                        <span style="font-size:15px;">-->
<!--                            <span style="letter-spacing:normal;">자신의 컬러를 알 수 있습니다.</span></span></span></p>-->
                </div>
            </div>

            <div class="main_left1">
                <br><br><br><br><br><br><br><br><br><br><br>
                <div class="offset-1">
                    <h3 class="font_6" style="line-height:1.41em; text-align:left; font-size:22px;">
                    <span style="letter-spacing:normal;">
                        <span class="color_15">
                            <span style="font-weight:bold;">​이상적인 메이크업으로 만족감</span></span></span></h3>
                <p class="font_8" style="font-size:15px; line-height:1.75em; text-align:left;">
                    <span style="font-family:futura-lt-w01-book,futura-lt-w05-book,sans-serif;">
                        <span style="font-size:15px;">
                            <span style="letter-spacing:normal;">머리가 안돌아가서.. 글이 안써져요...</span></span></span></p>
                    </div>
            </div>
            <div class="main_right1">
                <img src="https://static.wixstatic.com/media/11062b_627113da20a64adf851f2e5909e46c33~mv2_d_6360_3744_s_4_2.jpg/v1/fill/w_490,h_440,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/11062b_627113da20a64adf851f2e5909e46c33~mv2_d_6360_3744_s_4_2.jpg"></wix-image>
            </div>

            <div class="main_center1">
                <div class="offset-2">
                <br><br>
                <span style="text-align:left; font-size:30px;">
                    <span>가상 메이크업 시도하기</span>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button type="button" class="btn btn-outline-danger">make up</button>
                </span>


                <br><br>


            </div>



        </div>
<!--        <header class="bg-dark py-5">-->
<!--            <div class="container px-4 px-lg-5 my-5">-->
<!--                <div class="text-center text-white">-->
<!--                    <h1 class="display-4 fw-bolder">Welcome to Cosmethetic 💄</h1>-->
<!--                    <h4 class="text-white-50 mb-0">가상 메이크업 쇼핑몰 서비스</h4>-->
<!--                    <br>-->
<!--                </div>-->
<!--            </div>-->
<!--        </header>-->
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    {% for makeup in makeups %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ makeup.image.url }}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <!-- <h5 class="fw-bolder">{{ product.name }}</h5> -->
                                        <!-- Product price-->
                                        <!-- {{ product.price }} 원 -->
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'makeups:makeup_detail' pk=makeup.id %}">View products</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
{% endblock %}
