{% extends 'base.html' %}

{% block content %}

<div class="main_center1">
    <br><br><br><br><br>
    <h2 class="font_4" style="line-height:1.35em; text-align:center; font-size:60px;">
        <span style="font-weight:bold;"> 소개 </span>
    </h2>
    <br><br>
    <p class="font_9" style="text-align:center; line-height:1.875em; font-size:20px;">
        <span class="color_15">
            나에게 꼭 맞는 뷰티 제품을 찾았을 때의 기쁨은 그 어느 것과도 비교할 수 없습니다.<br>
            나에게 잘 어울리는 아이섀도나 파운데이션, 또는 수분을 공급하는 세럼이 될 수도 있습니다.<br>
            내 피부의 자연스러운 혈색을 찾아주고 윤기를 더해주는 제품을 만나보세요.<br><br>
            2022년에 설립된 Cosmethetic에서는 고객들이 사랑하고 신뢰하는 고품질 뷰티 제품을 제공하고 있습니다.<br>
            일상에 꼭 필요한 제품부터 특별한 날에 사용할 뷰티 용품에 이르기까지 모두 이곳에서 만나보세요.<br>
            사이트를 통해 다양한 제품을 확인하실 수 있습니다.
        </span></p> <br><br>


</div>


{% endblock %}