{% extends 'base.html' %}

{% block content %}

<div class="main_center1">
    <br><br><br><br><br>
    <h2 class="font_4" style="line-height:1.35em; text-align:center; font-size:60px;">
        <span style="font-weight:bold;"> 소개 </span>
    </h2>
    <br><br>
    <p class="font_9" style="text-align:center; line-height:1.875em; font-size:20px;">
        <span class="color_15">
            Cosmethetic은 인공지능이 탑재된 가상 메이크업 화장품 쇼핑몰 서비스를 제공합니다.<br>
            사용자의 이미지 위에 화장도구 없이 원하는 화장을 해보세요!<br><br>
            가상 메이크업을 통해 시도하지 못했던 이미지를 얼마든지 바꿀 수 있습니다.<br>
            또한 어울리는 컬러를 찾을 수 있습니다.
        </span></p> <br><br>


</div>


{% endblock %}